## 0. Import necessary libraries

In [1]:
import numpy as np
import pandas as pd

## 1. Load data

In [2]:
PATH = "C:/Users/San/Documents/CS projects/yt_activity_analysis/data/Takeout/YouTube and YouTube Music/history/watch-history.json"
df = pd.read_json(PATH)

## 2. Remove unnecessary columns

In [3]:
# A little bit of info
df.size, type(df), df.shape[0]

(38457, pandas.core.frame.DataFrame, 4273)

In [4]:
df[["title", "subtitles", "time"]]

,title,subtitles,time
0,Watched Building Search Word Database - Data A...,"[{'name': 'sentdex', 'url': 'https://www.youtu...",2022-07-04T06:25:34.777Z
1,Watched How to Use Google Takeout in 2022,"[{'name': 'Richard Byrne', 'url': 'https://www...",2022-07-04T06:22:34.867Z
2,Watched How to Download Your Google Data || Go...,"[{'name': 'Data Guru (Data Science)', 'url': '...",2022-07-04T06:22:22.071Z
3,"Watched Марш Українського війська ""Зродились м...","[{'name': 'Ser General', 'url': 'https://www.y...",2022-07-04T05:54:41.842Z
4,Watched Чорне і біле,"[{'name': 'ZOZULYA - Topic', 'url': 'https://w...",2022-07-04T05:51:05.598Z
...,...,...,...
4268,Watched Учасники «Чорнобаївського серіалу» бор...,"[{'name': 'АрміяInform', 'url': 'https://www.y...",2022-04-06T10:33:50.430Z
4269,Watched Rescued Chimps of the Congo with Jane ...,NaN,2022-04-06T10:04:59.579Z
4270,Watched Звірства росіян у Бородянці. Катування...,"[{'name': 'STERNENKO', 'url': 'https://www.you...",2022-04-06T10:03:25.129Z
4271,"Watched ЧОМУ НЕ БУВАЄ ""ХАРОШИХ РУССКИХ""?","[{'name': 'Загін Кіноманів', 'url': 'https://w...",2022-04-06T09:36:08.058Z
4272,"Watched Як пропагандистка ""страни"" Крюкова за ...","[{'name': 'STERNENKO', 'url': 'https://www.you...",2022-04-06T09:22:51.507Z

In [5]:
df.head(2)

,header,title,titleUrl,subtitles,time,products,activityControls,description,details
0,YouTube,Watched Building Search Word Database - Data A...,https://www.youtube.com/watch?v=Siyg1Wn5VDs,"[{'name': 'sentdex', 'url': 'https://www.youtu...",2022-07-04T06:25:34.777Z,[YouTube],[YouTube watch history],NaN,NaN
1,YouTube,Watched How to Use Google Takeout in 2022,https://www.youtube.com/watch?v=rYWtk39JGbY,"[{'name': 'Richard Byrne', 'url': 'https://www...",2022-07-04T06:22:34.867Z,[YouTube],[YouTube watch history],NaN,NaN

In [6]:
df.drop(["header", "titleUrl", "products", "activityControls", "description", "details"], axis=1, inplace=True)

In [18]:
df.head(2)

,title,subtitles,time
0,Watched Building Search Word Database - Data A...,"[{'name': 'sentdex', 'url': 'https://www.youtu...",2022-07-04T06:25:34.777Z
1,Watched How to Use Google Takeout in 2022,"[{'name': 'Richard Byrne', 'url': 'https://www...",2022-07-04T06:22:34.867Z

## 3. Edit content of columns

#### 3.1 Remove "Watched " from every row of column "title"

In [19]:
df["title"] = [i[8:] for i in df['title']]

In [20]:
df.head()

,title,subtitles,time
0,Building Search Word Database - Data Analysis ...,"[{'name': 'sentdex', 'url': 'https://www.youtu...",2022-07-04T06:25:34.777Z
1,How to Use Google Takeout in 2022,"[{'name': 'Richard Byrne', 'url': 'https://www...",2022-07-04T06:22:34.867Z
2,How to Download Your Google Data || Google Tak...,"[{'name': 'Data Guru (Data Science)', 'url': '...",2022-07-04T06:22:22.071Z
3,"Марш Українського війська ""Зродились ми велико...","[{'name': 'Ser General', 'url': 'https://www.y...",2022-07-04T05:54:41.842Z
4,Чорне і біле,"[{'name': 'ZOZULYA - Topic', 'url': 'https://w...",2022-07-04T05:51:05.598Z