## 0. Import necessary libraries

In [1]:
import numpy as np
import pandas as pd

## 1. Load data

In [2]:
PATH = "C:/Users/San/Documents/CS projects/yt_activity_analysis/data/Takeout/YouTube and YouTube Music/history/watch-history.json"
df = pd.read_json(PATH, convert_dates=['time'])

## 2. Remove unnecessary columns

In [3]:
# A little bit of info
df.size, type(df), df.shape[0]

(38457, pandas.core.frame.DataFrame, 4273)

In [4]:
df[["title", "subtitles", "time"]]

,title,subtitles,time
0,Watched Building Search Word Database - Data A...,"[{'name': 'sentdex', 'url': 'https://www.youtu...",2022-07-04 06:25:34.777000+00:00
1,Watched How to Use Google Takeout in 2022,"[{'name': 'Richard Byrne', 'url': 'https://www...",2022-07-04 06:22:34.867000+00:00
2,Watched How to Download Your Google Data || Go...,"[{'name': 'Data Guru (Data Science)', 'url': '...",2022-07-04 06:22:22.071000+00:00
3,"Watched Марш Українського війська ""Зродились м...","[{'name': 'Ser General', 'url': 'https://www.y...",2022-07-04 05:54:41.842000+00:00
4,Watched Чорне і біле,"[{'name': 'ZOZULYA - Topic', 'url': 'https://w...",2022-07-04 05:51:05.598000+00:00
...,...,...,...
4268,Watched Учасники «Чорнобаївського серіалу» бор...,"[{'name': 'АрміяInform', 'url': 'https://www.y...",2022-04-06 10:33:50.430000+00:00
4269,Watched Rescued Chimps of the Congo with Jane ...,NaN,2022-04-06 10:04:59.579000+00:00
4270,Watched Звірства росіян у Бородянці. Катування...,"[{'name': 'STERNENKO', 'url': 'https://www.you...",2022-04-06 10:03:25.129000+00:00
4271,"Watched ЧОМУ НЕ БУВАЄ ""ХАРОШИХ РУССКИХ""?","[{'name': 'Загін Кіноманів', 'url': 'https://w...",2022-04-06 09:36:08.058000+00:00
4272,"Watched Як пропагандистка ""страни"" Крюкова за ...","[{'name': 'STERNENKO', 'url': 'https://www.you...",2022-04-06 09:22:51.507000+00:00

In [5]:
df.head(2)

,header,title,titleUrl,subtitles,time,products,activityControls,description,details
0,YouTube,Watched Building Search Word Database - Data A...,https://www.youtube.com/watch?v=Siyg1Wn5VDs,"[{'name': 'sentdex', 'url': 'https://www.youtu...",2022-07-04 06:25:34.777000+00:00,[YouTube],[YouTube watch history],NaN,NaN
1,YouTube,Watched How to Use Google Takeout in 2022,https://www.youtube.com/watch?v=rYWtk39JGbY,"[{'name': 'Richard Byrne', 'url': 'https://www...",2022-07-04 06:22:34.867000+00:00,[YouTube],[YouTube watch history],NaN,NaN

In [6]:
df.drop(["header", "titleUrl", "products", "activityControls", "description", "details"], axis=1, inplace=True)

In [7]:
pd.set_option('display.max_colwidth', None) # show full df info
df.head(2)

,title,subtitles,time
0,Watched Building Search Word Database - Data Analysis of Google Tracking Takeout p.1,"[{'name': 'sentdex', 'url': 'https://www.youtube.com/channel/UCfzlCWGWYyIQ0aLC5w48gBQ'}]",2022-07-04 06:25:34.777000+00:00
1,Watched How to Use Google Takeout in 2022,"[{'name': 'Richard Byrne', 'url': 'https://www.youtube.com/channel/UCylhHbAUoqgdN-XQpJPobOg'}]",2022-07-04 06:22:34.867000+00:00

## 3. Edit content of columns

#### 3.1 Remove "Watched " from every row of column "title"

In [8]:
df["title"] = [i[8:] for i in df['title']]

In [9]:
df.head()

,title,subtitles,time
0,Building Search Word Database - Data Analysis of Google Tracking Takeout p.1,"[{'name': 'sentdex', 'url': 'https://www.youtube.com/channel/UCfzlCWGWYyIQ0aLC5w48gBQ'}]",2022-07-04 06:25:34.777000+00:00
1,How to Use Google Takeout in 2022,"[{'name': 'Richard Byrne', 'url': 'https://www.youtube.com/channel/UCylhHbAUoqgdN-XQpJPobOg'}]",2022-07-04 06:22:34.867000+00:00
2,How to Download Your Google Data || Google Takeout || Download your data in just one click,"[{'name': 'Data Guru (Data Science)', 'url': 'https://www.youtube.com/channel/UCNeF1FuCGYsBEUnOxCk9Jnw'}]",2022-07-04 06:22:22.071000+00:00
3,"Марш Українського війська ""Зродились ми великої години""","[{'name': 'Ser General', 'url': 'https://www.youtube.com/channel/UCcqb9Dg54QJApLyVCrAT2hA'}]",2022-07-04 05:54:41.842000+00:00
4,Чорне і біле,"[{'name': 'ZOZULYA - Topic', 'url': 'https://www.youtube.com/channel/UC75X5-UKZpSrCNNLfftJo2A'}]",2022-07-04 05:51:05.598000+00:00

#### 3.2 Get channel name from 'subtitles' column

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4273 entries, 0 to 4272
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      4273 non-null   object
 1   subtitles  3579 non-null   object
 2   time       4273 non-null   datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), object(2)
memory usage: 100.3+ KB

In [11]:
df["subtitles"]

0                        [{'name': 'sentdex', 'url': 'https://www.youtube.com/channel/UCfzlCWGWYyIQ0aLC5w48gBQ'}]
1                  [{'name': 'Richard Byrne', 'url': 'https://www.youtube.com/channel/UCylhHbAUoqgdN-XQpJPobOg'}]
2       [{'name': 'Data Guru (Data Science)', 'url': 'https://www.youtube.com/channel/UCNeF1FuCGYsBEUnOxCk9Jnw'}]
3                    [{'name': 'Ser General', 'url': 'https://www.youtube.com/channel/UCcqb9Dg54QJApLyVCrAT2hA'}]
4                [{'name': 'ZOZULYA - Topic', 'url': 'https://www.youtube.com/channel/UC75X5-UKZpSrCNNLfftJo2A'}]
                                                          ...
4268                 [{'name': 'АрміяInform', 'url': 'https://www.youtube.com/channel/UCh1JfbpcXFETuEMhOlllVhw'}]
4269                                                                                                          NaN
4270                   [{'name': 'STERNENKO', 'url': 'https://www.youtube.com/channel/UC5HBd4l_kpba5b0O1pK-Bfg'}]
4271             [{'name': 'Загін Кіноманів', 'url': 'https://www.youtube.com/channel/UCig7t6LFOjS2fKkhjbVLpjw'}]
4272                   [{'name': 'STERNENKO', 'url': 'https://www.youtube.com/channel/UC5HBd4l_kpba5b0O1pK-Bfg'}]
Name: subtitles, Length: 4273, dtype: object

In [12]:
df["subtitles"][0][0]["name"]
# for row in range(df.shape[0]):
#     print(row)
#     print(df["subtitles"][row][0]["name"])
# [df["subtitles"][row][0]["name"] for row in range(df.shape[0])]
df.shape[0]
# df["subtitles"].apply(lambda x: )
# df["subtitles"]
df.count()

title        4273
subtitles    3579
time         4273
dtype: int64

In [13]:
# df.dropna(axis=0)

In [14]:
df.count()

title        4273
subtitles    3579
time         4273
dtype: int64

In [15]:
# for row in range(df.shape[0]):
#     # print(row)
#     # print(df["subtitles"][row][0]["name"])
#     # df['your column name'].isnull().values.any()
#     if df["subtitles"].isnull().values.any():
#         print(df)
df['subtitles'].isna().sum()

694

#### Remove rows with NaN in place of "subtitles" col

In [16]:
df = df[df["subtitles"].notna()]
df = df.reset_index(drop=True)
df

,title,subtitles,time
0,Building Search Word Database - Data Analysis of Google Tracking Takeout p.1,"[{'name': 'sentdex', 'url': 'https://www.youtube.com/channel/UCfzlCWGWYyIQ0aLC5w48gBQ'}]",2022-07-04 06:25:34.777000+00:00
1,How to Use Google Takeout in 2022,"[{'name': 'Richard Byrne', 'url': 'https://www.youtube.com/channel/UCylhHbAUoqgdN-XQpJPobOg'}]",2022-07-04 06:22:34.867000+00:00
2,How to Download Your Google Data || Google Takeout || Download your data in just one click,"[{'name': 'Data Guru (Data Science)', 'url': 'https://www.youtube.com/channel/UCNeF1FuCGYsBEUnOxCk9Jnw'}]",2022-07-04 06:22:22.071000+00:00
3,"Марш Українського війська ""Зродились ми великої години""","[{'name': 'Ser General', 'url': 'https://www.youtube.com/channel/UCcqb9Dg54QJApLyVCrAT2hA'}]",2022-07-04 05:54:41.842000+00:00
4,Чорне і біле,"[{'name': 'ZOZULYA - Topic', 'url': 'https://www.youtube.com/channel/UC75X5-UKZpSrCNNLfftJo2A'}]",2022-07-04 05:51:05.598000+00:00
...,...,...,...
3574,TARDIGRADE INFERNO - WE ARE NUMBER ONE (2019),"[{'name': 'Tardigrade Inferno', 'url': 'https://www.youtube.com/channel/UCm246J_436dbUOIHpra7J8A'}]",2022-04-06 10:35:36.057000+00:00
3575,Учасники «Чорнобаївського серіалу» боронять Миколаївщину,"[{'name': 'АрміяInform', 'url': 'https://www.youtube.com/channel/UCh1JfbpcXFETuEMhOlllVhw'}]",2022-04-06 10:33:50.430000+00:00
3576,"Звірства росіян у Бородянці. Катування мирних людей, розстріляний Шевченко та авіаудари по будинках","[{'name': 'STERNENKO', 'url': 'https://www.youtube.com/channel/UC5HBd4l_kpba5b0O1pK-Bfg'}]",2022-04-06 10:03:25.129000+00:00
3577,"ЧОМУ НЕ БУВАЄ ""ХАРОШИХ РУССКИХ""?","[{'name': 'Загін Кіноманів', 'url': 'https://www.youtube.com/channel/UCig7t6LFOjS2fKkhjbVLpjw'}]",2022-04-06 09:36:08.058000+00:00
3578,"Як пропагандистка ""страни"" Крюкова за свою брехню відповідала – СТЕРНЕНКО НА ЗВ'ЯЗКУ","[{'name': 'STERNENKO', 'url': 'https://www.youtube.com/channel/UC5HBd4l_kpba5b0O1pK-Bfg'}]",2022-04-06 09:22:51.507000+00:00

In [17]:
# for row in range(df.shape[0]):
#     print(row)
#     print(df["subtitles"][row][0]["name"])
df.shape[0]
df["channel_name"] = [df["subtitles"][row][0]["name"] for row in range(df.shape[0])]
df.drop(["subtitles"], axis=1, inplace=True)
df

,title,time,channel_name
0,Building Search Word Database - Data Analysis of Google Tracking Takeout p.1,2022-07-04 06:25:34.777000+00:00,sentdex
1,How to Use Google Takeout in 2022,2022-07-04 06:22:34.867000+00:00,Richard Byrne
2,How to Download Your Google Data || Google Takeout || Download your data in just one click,2022-07-04 06:22:22.071000+00:00,Data Guru (Data Science)
3,"Марш Українського війська ""Зродились ми великої години""",2022-07-04 05:54:41.842000+00:00,Ser General
4,Чорне і біле,2022-07-04 05:51:05.598000+00:00,ZOZULYA - Topic
...,...,...,...
3574,TARDIGRADE INFERNO - WE ARE NUMBER ONE (2019),2022-04-06 10:35:36.057000+00:00,Tardigrade Inferno
3575,Учасники «Чорнобаївського серіалу» боронять Миколаївщину,2022-04-06 10:33:50.430000+00:00,АрміяInform
3576,"Звірства росіян у Бородянці. Катування мирних людей, розстріляний Шевченко та авіаудари по будинках",2022-04-06 10:03:25.129000+00:00,STERNENKO
3577,"ЧОМУ НЕ БУВАЄ ""ХАРОШИХ РУССКИХ""?",2022-04-06 09:36:08.058000+00:00,Загін Кіноманів
3578,"Як пропагандистка ""страни"" Крюкова за свою брехню відповідала – СТЕРНЕНКО НА ЗВ'ЯЗКУ",2022-04-06 09:22:51.507000+00:00,STERNENKO

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3579 entries, 0 to 3578
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         3579 non-null   object
 1   time          3579 non-null   datetime64[ns, UTC]
 2   channel_name  3579 non-null   object
dtypes: datetime64[ns, UTC](1), object(2)
memory usage: 84.0+ KB

#### Change dtypes to more suitable ones

In [19]:
colnames = ["title", "channel_name"]
df[colnames] = df[colnames].astype("string")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3579 entries, 0 to 3578
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         3579 non-null   string
 1   time          3579 non-null   datetime64[ns, UTC]
 2   channel_name  3579 non-null   string
dtypes: datetime64[ns, UTC](1), string(2)
memory usage: 84.0 KB

In [20]:
df

,title,time,channel_name
0,Building Search Word Database - Data Analysis of Google Tracking Takeout p.1,2022-07-04 06:25:34.777000+00:00,sentdex
1,How to Use Google Takeout in 2022,2022-07-04 06:22:34.867000+00:00,Richard Byrne
2,How to Download Your Google Data || Google Takeout || Download your data in just one click,2022-07-04 06:22:22.071000+00:00,Data Guru (Data Science)
3,"Марш Українського війська ""Зродились ми великої години""",2022-07-04 05:54:41.842000+00:00,Ser General
4,Чорне і біле,2022-07-04 05:51:05.598000+00:00,ZOZULYA - Topic
...,...,...,...
3574,TARDIGRADE INFERNO - WE ARE NUMBER ONE (2019),2022-04-06 10:35:36.057000+00:00,Tardigrade Inferno
3575,Учасники «Чорнобаївського серіалу» боронять Миколаївщину,2022-04-06 10:33:50.430000+00:00,АрміяInform
3576,"Звірства росіян у Бородянці. Катування мирних людей, розстріляний Шевченко та авіаудари по будинках",2022-04-06 10:03:25.129000+00:00,STERNENKO
3577,"ЧОМУ НЕ БУВАЄ ""ХАРОШИХ РУССКИХ""?",2022-04-06 09:36:08.058000+00:00,Загін Кіноманів
3578,"Як пропагандистка ""страни"" Крюкова за свою брехню відповідала – СТЕРНЕНКО НА ЗВ'ЯЗКУ",2022-04-06 09:22:51.507000+00:00,STERNENKO

#### Rename col 'title' to 'video_title', so it's more descriptive

In [21]:
df.rename(columns={'title': 'video_title'}, inplace=True)
df

,video_title,time,channel_name
0,Building Search Word Database - Data Analysis of Google Tracking Takeout p.1,2022-07-04 06:25:34.777000+00:00,sentdex
1,How to Use Google Takeout in 2022,2022-07-04 06:22:34.867000+00:00,Richard Byrne
2,How to Download Your Google Data || Google Takeout || Download your data in just one click,2022-07-04 06:22:22.071000+00:00,Data Guru (Data Science)
3,"Марш Українського війська ""Зродились ми великої години""",2022-07-04 05:54:41.842000+00:00,Ser General
4,Чорне і біле,2022-07-04 05:51:05.598000+00:00,ZOZULYA - Topic
...,...,...,...
3574,TARDIGRADE INFERNO - WE ARE NUMBER ONE (2019),2022-04-06 10:35:36.057000+00:00,Tardigrade Inferno
3575,Учасники «Чорнобаївського серіалу» боронять Миколаївщину,2022-04-06 10:33:50.430000+00:00,АрміяInform
3576,"Звірства росіян у Бородянці. Катування мирних людей, розстріляний Шевченко та авіаудари по будинках",2022-04-06 10:03:25.129000+00:00,STERNENKO
3577,"ЧОМУ НЕ БУВАЄ ""ХАРОШИХ РУССКИХ""?",2022-04-06 09:36:08.058000+00:00,Загін Кіноманів
3578,"Як пропагандистка ""страни"" Крюкова за свою брехню відповідала – СТЕРНЕНКО НА ЗВ'ЯЗКУ",2022-04-06 09:22:51.507000+00:00,STERNENKO